<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="main">
        {{>header}}
            <p>
                <img src="./images/img.jpg" alt="" height="200" width="200"> 
            </p>
        {{>footer}}
    </div>    
    
</body>
</html>